body {
    padding: 0; 
    margin: 0;
    color: #484848;
    font-size: 14px;
    font-family: Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

div.container {
    min-height: 80vh;
    max-width: 1000px;
    margin-block: 30px;
    margin-inline: auto;
}

button {
    background-color: transparent;
    border: none;
}

button:hover {
    cursor: pointer;
}